/obj
/bin
/workspace/TheDarkDungeons/bin/Debug/net6.0/TheDarkDungeons.dll
/workspace/TheDarkDungeons/bin/Debug/net6.0/TheDarkDungeons.pdb
/workspace/TheDarkDungeons/obj/Debug/net6.0/TheDarkDungeons.dll
/workspace/TheDarkDungeons/obj/Debug/net6.0/TheDarkDungeons.pdb